$pumpkin: orangered;

.columns {
  column-count: 1;
  column-gap: 3em;
  column-rule: 1px solid $pumpkin;
  text-align: justify;

  .dt {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .pair {
    break-inside: avoid-column;

    &:not(:first-of-type) {
      margin-top: 1.5em;
    }
  }

  &.two {
    column-count: 2;
  }

  &.three {
    column-count: 3;
  }

  &.four {
    column-count: 4;
  }
}
